root = true

[*]
charset = utf-8
end_of_line = lf
# 파일 저장 시 new line 추가 강제
insert_final_newline = true

[{*.kt,*.kts}]
indent_size = 4
indent_style = space
tab_width = 4

disabled_rules = filename
# Trailing comma 설정
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

# no-wildcard-import : 아래의 star import 갯수를 1000개로 늘려서 설정함
ij_kotlin_name_count_to_use_star_import = 1000
ij_kotlin_name_count_to_use_star_import_for_members = 1000
ij_kotlin_packages_to_use_import_on_demand = unset
ij_java_packages_to_use_import_on_demand = unset
